@page "/activitydetails/{activityId:guid}"


<h3>Activity Details</h3>

@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div class="alert alert-danger" role="alert">
        @ErrorMessage
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Activity Name</th>
            <th scope="col">Activity Type</th>
            <th scope="col">Module</th>
            <th scope="col">Starttime</th>
            <th scope="col">Endtime</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row">@Activity.Name</td>
            <td scope="row">@Activity.Type.Name</td>
            <td scope="row">@Module.Name</td>
            <td scope="row">@Activity.StartDate</td>
            <td scope="row">@Activity.EndDate</td>
            <td scope="row">@Activity.Description</td>
        </tr>
    </tbody>
</table>
<button type="button" class="btn btn-danger my-1" @onclick="@DeleteActivity">
    Delete
</button>
<a href="@($"activityUpdate/{Activity.Id}")" class="btn btn-outline-primary">Update</a>
<a href="@($"activitieslist")" class="btn btn-outline-primary">Back to Activity list</a>


