@page "/documentupload/{id:guid}"
@using LexiconLMS.Shared.Entities

<section class="card p-3 col-md-8 col-lg-6">

	@if (!string.IsNullOrWhiteSpace(ErrorMessage))
	{
		<p class="alert alert-danger">@ErrorMessage</p>
	}

	<h3>Add Document</h3>

	<EditForm Model="@Document" OnValidSubmit="@HandleValidSubmit">

		<DataAnnotationsValidator></DataAnnotationsValidator>
		<div class="d-lg-table">
			<div class="row d-lg-table-row mb-3 mb-lg-0">
				<div class="d-lg-table-cell w-auto pe-1 pb-lg-3">
					<label for="name" class="col-form-labelo">Name: </label>
				</div>
				<div class="d-lg-table-cell ps-lg-0 pb-lg-3">
					<InputText id="name" class="form-control" @bind-Value="@Document.Name" placeholder="Name"></InputText>
					<ValidationMessage class="offset-md-3" For="@(() => Document.Name)" />
				</div>
			</div>

			<div class="row d-lg-table-row mb-3 mb-lg-0">
				<div class="d-lg-table-cell w-auto pe-1 pb-lg-3">
					<label for="description" class="col-form-labelo">Description: </label>
				</div>
				<div class="d-lg-table-cell ps-lg-0 pb-lg-3">
					<InputText id="description" class="form-control" @bind-Value="@Document.Description" placeholder="Description"></InputText>
					<ValidationMessage class="offset-md-3" For="@(() => Document.Description)" />
				</div>
			</div>

		</div>

		<button type="submit" class="btn btn-success me-1">Save Document</button>

		<button type="button" class="btn btn-outline-primary ms-1" @onclick="@(()=> {NavigationManager.NavigateTo("/");})">Back</button>

	</EditForm>


</section>