
@page "/userupdate/{UserId}"

@using Microsoft.AspNetCore.Authorization
@using LexiconLMS.Shared.Dtos

@* @attribute [Authorize(Roles = "Teacher")] *@

<h3>Update a User</h3>

<EditForm Model="@ApplicationUserUpdate" OnValidSubmit="@HandleValidSubmit">

    <DataAnnotationsValidator />

    <table class="table">
        <thead>
            <tr>
                <th scope="col">User Id</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">User Role</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">@ApplicationUserUpdate.Id</td>
                <td scope="row">
                    <InputText id="FirstName" @bind-Value="ApplicationUserUpdate.FirstName" class="form-control col-md-8"></InputText>
                    <ValidationMessage For="@(() => ApplicationUserUpdate.FirstName)" />
                </td>
                <td scope="row">
                    <InputText id="LastName" @bind-Value="ApplicationUserUpdate.LastName" class="form-control col-md-8"></InputText>
                    <ValidationMessage For="@(() => ApplicationUserUpdate.LastName)" />
                </td>
                <td scope="row">
                    <InputText id="Email" @bind-Value="ApplicationUserUpdate.Email" class="form-control col-md-8"></InputText>
                    <ValidationMessage For="@(() => ApplicationUserUpdate.Email)" />
                </td>
                <td scope="row">
                    <InputSelect id="Role" @bind-Value="ApplicationUserUpdate.Role" class="form-control col-md-8">
                        @foreach (var role in Enum.GetValues(typeof(StaticUserRoles)))
                        {
                            <option value="@role">@role</option>
                        }
                    </InputSelect>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="@($"listofcourses")" class="btn btn-outline-primary">Back to Course list</a>&nbsp;
    <button type="submit" class="btn btn-primary me-1">Save User</button>
</EditForm>