@using LexiconLMS.Client.Extensions
@using LexiconLMS.Shared.Entities;

<table class="table">
    <thead>
        <tr>
            <th scope="col">Student</th>
            <th scope="col">Assigment</th>
            <th scope="col">Status</th>
            <th scope="col">Deadline</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @if (Assignments != null)
        {
            @foreach (var activity in Assignments)
            {
                <tr>
                    <td scope="row">@* <a class="hidden-link" href="@UriHelper.GetActivityDetailsUri(activity.StudentId)"> *@@activity.StudentName@* </a>*@</td>
                    <td scope="row"><a class="hidden-link" href="@UriHelper.GetAssignmentDetailsUri(activity.AssignmentId)">@activity.AssignmentName</a></td>
                    <td scope="row">
                        <div class="@activity.SubmissionState.GetCSSClass() text-center text-lowercase">
                            @activity.SubmissionState.AsText()
                        </div>
                    </td>
                    <td scope="row">@activity.DueDate</td>
                    <td scope="row">
                        <div class="d-flex">
                            <AuthorizeView Roles="Teacher">
                                <Authorized>
                                    <a href="@UriHelper.GetAssignmentUpdateUri(activity.AssignmentId)" class="btn"><span class="text-dark oi oi-pencil"></span></a>
                                    <a href="@UriHelper.GetActivityDeleteUri(activity.AssignmentId)" class="btn"><span class="text-dark oi oi-circle-x"></span></a>
                                </Authorized>
                            </AuthorizeView>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


