
@page "/page"
@using LexiconLMS.Client.Services

@inject GenericDataService GService

<h3>Course List</h3>

 <AuthorizeView Roles="Teacher">
            <Authorized>
                <a href="@($"courseadd")" class="btn btn-outline-primary">Add new Course</a>
            </Authorized>
        </AuthorizeView>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Course Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var course in CourseLst)
                {
                <tr>
                    <td scope="row">@course.Id</td>
                    <td scope="row">@course.Name</td>
                    <td scope="row">@course.StartDate</td>
                    <td scope="row">@course.EndDate</td>
                    <td scope="row">
                        <a href="@($"coursedetails/{course.Id}")" class="btn btn-outline-primary">Details</a>
                        <AuthorizeView Roles="Teacher">
                            <Authorized>
                                <a href="@($"courseupdate/{course.Id}")" class="btn btn-outline-primary">Update</a>
                                <a href="@($"coursedelete/{course.Id}")" class="btn btn-outline-primary">Delete</a>
                            </Authorized>
                        </AuthorizeView>
                    </td>
                </tr>
                }
            </tbody>
        </table>
  

