@using LexiconLMS.Shared.Entities

@if (List == null || List.Count == 0)
{
    <p><em>No modules</em></p>
}
else
{
<table class="table">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var module in List)
    {
        <tr>
            <td scope="row">@module.Name</td>
            <td scope="row">@module.StartDate</td>
            <td scope="row">@module.EndDate</td>
            <td scope="row">
                <a href="@UriHelper.GetModuleDetailsUri(module.Id)" class="btn btn-outline-primary">Details</a>
                <AuthorizeView Roles="Teacher">
                    <Authorized>
                        <a href="@UriHelper.GetModuleUpdateUri(module.Id)" class="btn btn-outline-primary">Update</a>
                        <a href="@UriHelper.GetModuleDeleteUri(module.Id)" class="btn btn-outline-primary">Delete</a>
                    </Authorized>
                </AuthorizeView>
            </td>
        </tr>
    }
    </tbody>
</table>
}
@code {
    [Parameter]
    public List<Module>? List { get; set; }
}
